MovieShelfSolution/Mvc_MovieShelf/Service References/MovieServiceReference/MovieService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49205/MovieService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain" />
  <xs:complexType name="MovieDetailContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCollected" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreTypeContract" />
          <xs:element minOccurs="0" name="MonetaryValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Rating" nillable="true" type="tns:RatingTypeContract" />
          <xs:element minOccurs="0" name="Series" nillable="true" type="tns:MovieSeriesContract" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="tns:StatusTypeContract" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="tns:MovieTypeContract" />
          <xs:element minOccurs="0" name="ViewRating" nillable="true" type="tns:ViewRatingTypeContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MovieDetailContract" nillable="true" type="tns:MovieDetailContract" />
  <xs:complexType name="BaseEntityContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDomainContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayImage" nillable="true" type="tns:DisplayImageContract" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseEntityContract" nillable="true" type="tns:BaseEntityContract" />
  <xs:complexType name="BaseDomainContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainStatus" nillable="true" type="tns:DomainStatusContract" />
      <xs:element minOccurs="0" name="HasChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDomainContract" nillable="true" type="tns:BaseDomainContract" />
  <xs:complexType name="DomainStatusContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfDomainMessageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainStatusContract" nillable="true" type="tns:DomainStatusContract" />
  <xs:complexType name="ArrayOfDomainMessageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainMessageContract" nillable="true" type="tns:DomainMessageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomainMessageContract" nillable="true" type="tns:ArrayOfDomainMessageContract" />
  <xs:complexType name="DomainMessageContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain" minOccurs="0" name="Id" type="q1:EMessageNumber" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain" minOccurs="0" name="Type" type="q2:EMessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainMessageContract" nillable="true" type="tns:DomainMessageContract" />
  <xs:complexType name="DisplayImageContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDomainContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayImageContract" nillable="true" type="tns:DisplayImageContract" />
  <xs:complexType name="GenreTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLookupContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenreTypeContract" nillable="true" type="tns:GenreTypeContract" />
  <xs:complexType name="BaseLookupContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDomainContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayImage" nillable="true" type="tns:DisplayImageContract" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseLookupContract" nillable="true" type="tns:BaseLookupContract" />
  <xs:complexType name="RatingTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLookupContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RatingTypeContract" nillable="true" type="tns:RatingTypeContract" />
  <xs:complexType name="MovieSeriesContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MovieSeriesContract" nillable="true" type="tns:MovieSeriesContract" />
  <xs:complexType name="StatusTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLookupContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusTypeContract" nillable="true" type="tns:StatusTypeContract" />
  <xs:complexType name="MovieTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLookupContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MovieTypeContract" nillable="true" type="tns:MovieTypeContract" />
  <xs:complexType name="ViewRatingTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLookupContract">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewRatingTypeContract" nillable="true" type="tns:ViewRatingTypeContract" />
  <xs:complexType name="DomainListContractOfMovieDetailContractZchJDT3W">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DomainListContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MovieDetailContract" Namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainStatus" nillable="true" type="tns:DomainStatusContract" />
      <xs:element minOccurs="0" name="EntityList" nillable="true" type="tns:ArrayOfMovieDetailContract" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainListContractOfMovieDetailContractZchJDT3W" nillable="true" type="tns:DomainListContractOfMovieDetailContractZchJDT3W" />
  <xs:complexType name="ArrayOfMovieDetailContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDetailContract" nillable="true" type="tns:MovieDetailContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDetailContract" nillable="true" type="tns:ArrayOfMovieDetailContract" />
  <xs:complexType name="DomainListContractOfMovieSeriesContractZchJDT3W">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DomainListContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MovieSeriesContract" Namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainStatus" nillable="true" type="tns:DomainStatusContract" />
      <xs:element minOccurs="0" name="EntityList" nillable="true" type="tns:ArrayOfMovieSeriesContract" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainListContractOfMovieSeriesContractZchJDT3W" nillable="true" type="tns:DomainListContractOfMovieSeriesContractZchJDT3W" />
  <xs:complexType name="ArrayOfMovieSeriesContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieSeriesContract" nillable="true" type="tns:MovieSeriesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieSeriesContract" nillable="true" type="tns:ArrayOfMovieSeriesContract" />
</xs:schema>