MovieShelfSolution/Mvc_MovieShelf/Service References/MovieBorrowServiceReference/MovieBorrowService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49205/MovieBorrowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" />
  <xs:element name="HelloService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="greeting" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBorrower">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q1:BorrowerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBorrowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="CreateBorrowerResult" nillable="true" type="q2:BorrowerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBorrowedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q3:BorrowedItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBorrowedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="CreateBorrowedItemResult" nillable="true" type="q4:BorrowedItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBorrower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="includeDeletion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBorrowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="FetchBorrowerResult" nillable="true" type="q5:BorrowerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBorrowedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="includeDeletion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBorrowedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="FetchBorrowedItemResult" nillable="true" type="q6:BorrowedItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllBorrowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeDeletion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllBorrowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="FetchAllBorrowersResult" nillable="true" type="q7:DomainListContractOfBorrowerContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllBorrowedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeDeletion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllBorrowedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="FetchAllBorrowedItemsResult" nillable="true" type="q8:DomainListContractOfBorrowedItemContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBorrower">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q9:BorrowerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBorrowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="SaveBorrowerResult" nillable="true" type="q10:BorrowerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBorrowedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q11:BorrowedItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBorrowedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="SaveBorrowedItemResult" nillable="true" type="q12:BorrowedItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllBorrowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q13:DomainListContractOfBorrowerContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllBorrowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="SaveAllBorrowersResult" nillable="true" type="q14:DomainListContractOfBorrowerContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllBorrowedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="contract" nillable="true" type="q15:DomainListContractOfBorrowedItemContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllBorrowedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="SaveAllBorrowedItemsResult" nillable="true" type="q16:DomainListContractOfBorrowedItemContractZchJDT3W" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBorrower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBorrowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="RemoveBorrowerResult" nillable="true" type="q17:DomainStatusContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBorrowedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBorrowedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Core_MovieShelf.Interface.Domain.Contracts" minOccurs="0" name="RemoveBorrowedItemResult" nillable="true" type="q18:DomainStatusContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>